language: node_js
node_js:
- '0.10'
deploy:
  provider: heroku
  api_key:
    secure: 0WlNGz6ymVXFiD3T1b9YXns7cI0IfRmoE6dpEMbRFOSd3ibbF196TrfJiQN2NzhsWjG52bwS8wrsWHa70LRBmgLZcqtc14DsSGox42smPsAZKKKhoiV/lcmZDbvC/TJ2qRIbBBK1CRciMKVWlPJ8dCpHiLM4CKO8FRRJ+oYuXb8=
  app: notjs-back
  buildpack: "https://github.com/heroku/heroku-buildpack-nodejs"
